DEPLOYMENT_URL=https://karstenasche.github.com
DEPLOYMENT_BRANCH=main
BASE_URL=/Ashis-Blog-Post/
GITHUB_ORG=KarstenAsche
GITHUB_PROJECT=Ashis-Blog-Post
GIT_REPOSITORY_URL=https://github.com/KarstenAsche/Ashis-Blog-Post
BLOG_ENABLED=true